/* css styles */

body {
  background-image: Foto_2023_Markus-Bauer_TinoGrafiert-00204_quadrat.jpg
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: center center;*/
  /*background-attachment: fixed;*/
}